*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
    background-color: rgb(1, 22, 39);
    
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

/*HEADER*/

.desktoph{
    display: none;
}
.primeraparteh{
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 37, 41);

}
.hlogo{
    width: 4.5rem;
}
.hfotologo{
    margin-top: 4px;
    margin-left: 10px;
}

.menuham{
    color: white;
    font-size: 1.8rem;
    margin-top: 9px;
    margin-right: 20px;
}
.lupita{
    color: white;
    font-size: 1.6rem;
    margin-top: 9px;
    margin-left: 140px;
}
.hbuscador{
    background-color: rgb(33, 37, 41);
    width: 100vw;
    display: none;   
}
.hbuscadorjs{
    display: block;
}
.clickmenu{
    background-color: rgb(33, 37, 41);
    width: 100vw;
    display: none;
}
.clickmenujs{
    display: block;  
}

.clickmenu .hhopciones li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.clickmenu .hhopciones li a{
    text-decoration: none;
    color: white;
}


/*DETALLE GENERO*/

.cadaGenerop{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cadaGeneros{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.movies{
    color: white;
    font-size: 1rem;
    text-decoration: underline;
    text-align: center;

}

.series{
    color: white;
    font-size: 1rem;
    text-decoration: underline;
    text-align: center;
}
.cadaUno{
    padding: 0.1rem;
}

.cadaTitulo{
    color: white;
    text-align: center;
}

@media (min-width: 1024px){

    /*HEADER*/

    .hcelular{
        display: none;
        }
        .desktoph{
            display: block;
            display: grid;
            grid-template-columns: 0.25fr 1fr;
            background-color:  rgb(33, 37, 41);
        }
        .hlogo{
            width: 8rem;
        }
        .hopciones{
            display: flex;
            justify-content: space-between;
            margin-right: 0.6rem;
        }
        .hmenu .hopciones li a{
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
        }
        .hmenu .hopciones li{
            margin-top: 1.5rem;
        }

    /*DETALLE GENEROS*/

    .cadaGenerop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }

    .cadaGeneros{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }

    .movies{
        font-size: 4rem;
    
    }
    
    .series{
        font-size: 4rem;
    }

    .cadaUno{
        padding: 0.2rem;
    }
    

    }