*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
    margin: 0;
    padding: 0;
    outline: 0;
}
.menu{
    background-color:  rgb(33, 37, 41);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hfotologo{
    width: 4.5rem;
    margin-top: 4px;
    margin-left: 10px;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 20px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px ;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    text-transform: uppercase;
    color: white;
}
.menu_items li:hover, li.active{
    background-color: rgba(0, 0, 0, 0.3) ;
    transition: .4s;
}
.menuham{
    color: white;
    font-size: 1.3rem;
    margin-top: 9px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width)